<div class="container">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-1 text-right">
            <p>User: </p>
        </div>
        <div class="col-2"><input type="text" [(ngModel)]="user"></div>
        <div class="col-1"><input type="button" value="Load Data" (click)="getAbilities()"></div>
    
    </div>
    <div class="row">
        <div class="col-sm-2" *ngFor="let ability of abilities | keyvalue">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{calculateModifier(ability.value)}}</h5>
                    <p class="card-text">{{ability.key}}</p>
                    <input type="text" class="form-control text-center" id="{{ability.value}}" value={{ability.value}}
                        [disabled]="!isEditing" [(ngModel)]="ability.value">
                </div>
            </div>
        </div>
        <!-- <p>{{abilities |json}}</p> -->
    </div>